<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello world!</title>
  </head>
  <body>
    <p>Hello world!</p>
    <% if (!azureADVerified) { %>
    <a href="<%= loginLink %>">Microsoft 365 Login</a>
    <% } else { %>
    <p>Verified with Microsoft.</p>
    <% } %>
  </body>
</html>
