<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Verification Successful</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <heading><h1>Success</h1></heading>
    <p>Verification successful.</p>
    <p>The bot will assign your role shortly.</p>
  </body>
</html>
