<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= orgName %> Discord Verification</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <heading><h1><%= orgName %> Discord Verification</h1></heading>
    <a href="<%= loginLink %>">Log in with Microsoft 365</a>
  </body>
</html>
